/**
 * Variables
 */

$red:#D6000F;

html, body {overflow-x:hidden}

body {padding-top:60px; -webkit-overflow-scrolling:touch}

.link-button {margin:auto;padding:15px 10px;background-color:$red;color:white;width:100px;text-align:center;font-size:14px;line-height:14px}
.link-button a {color:white}

/**
 * Header
 */
#nav {position:fixed;top:0px;z-index:1000;height:60px;background:white;box-shadow: 1px 1px 10px rgba(0,0,0,0.5)}
#nav {
	div {height:100%}
	.header.wrapper div {float:left}
	.menu-link {margin-right:10px}
	.menu-link img {margin:17px 10px 0px 10px}
	.sunkwan-logo {height:60px!important;position:relative!important}
}

/**
 * Index
 */
#homepage {
    h2 {padding:0px;margin:0px;font-size:22px;text-align:center}
    h2.red {color:$red}
    .sep.line {width:60px;margin:auto;border-bottom:1px solid black;margin-top:10px;margin-bottom:10px}
}

#index-slides {
	.bg-image {opacity:1!important}
	.bxslider {position:relative;padding:0px;margin:0px}
    .bx-wrapper {padding:0px;border:none;margin:0px;min-width:100%!important}
    .bxslider li {
        & {min-width:100%!important;width:100%;min-height:calc(100vh - 60px);overflow:hidden}
    }
}

#index-news {
	& {padding:20px 35px;background-image:url('images/mobile/index-news-bg.jpg');background-repeat:repeat-y;background-size:100% auto;}	
	ul {width:100%;padding:0px}
	ul li {width:100%;margin-bottom:30px;background-color:rgba(255,255,255,0.8);padding:10px 15px;box-sizing:border-box}
	ul li img {width:100%}
	li {
	   .date {font-size:14px;color:#999}
	   .title {font-size:18px;margin-bottom:10px}
	}
}

#index-culture {
	& {position:relative}
	.culture-image {z-index:0;}
	.culture-text {position:absolute;z-index:10;top:0px;width:100%}
	.culture-text h2 {padding-top:20px;}
	.culture-text .text {color:white;text-align:center;font-size:16px;line-height:1.5}
	.sep.line {margin:10px auto}
	.link-button {margin-top:30px}
}

#index-video {
	& {padding-top:10px;padding-bottom:30px}
	.sep.line {margin-bottom:15px}
}

#index-branches {
    & {position:relative}
    .branches-text {position:absolute;z-index:10;top:0px;width:100%}
	h2 {padding-top:20px;padding-bottom:30px}
}

/** Footer **/
#footer {
	& {height:auto}
	.wrapper {padding:20px!important}
	.qrcode {display:none}
	.menu a {display:block!important;margin-bottom:10px}
	.logo {position:relative;top:0px;margin-top:30px}
}
