@charset "UTF-8";
/**
 * Variables
 */
body {
  padding-top: 60px;
  -webkit-overflow-scrolling: touch;
  width: 100%; }

html, body {
  overflow-x: hidden; }

.link-button {
  margin: auto;
  padding: 15px 10px;
  background-color: #D6000F;
  color: white;
  width: 100px;
  text-align: center;
  font-size: 14px;
  line-height: 14px; }

.link-button a {
  color: white; }

.banner.cover {
  display: none; }

.breadcrumb {
  line-height: 40px;
  padding-left: 15px;
  height: 40px; }

.wrapper {
  width: 100%;
  min-width: 0px !important; }

.primary.content {
  width: 100% !important; }

.breadcrumb .triangle-right {
  margin: 15px 10px 0px 10px; }

/**
  * Sidemenu
  */
#menu {
  position: fixed;
  right: 0px;
  top: 60px;
  z-index: 2050;
  width: 100%; }

#menu .overlay {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); }

#menu .menu-list {
  background-color: white;
  z-index: 100;
  position: absolute;
  height: 100%;
  width: 100%;
  left: -250px;
  top: 0px; }

#menu .menu-list > div {
  line-height: 2;
  padding: 5px 10px;
  border-bottom: 1px solid #eee; }

#menu .menu-list > div .submenu {
  padding-left: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 2; }

#menu .menu-list > div .active {
  color: #D6000F; }

/**
 * Header
 */
#nav {
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 60px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

#nav div {
  height: 100%; }

#nav .header.wrapper div {
  float: left; }

#nav .menu-link {
  margin-right: 10px; }

#nav .menu-link img {
  margin: 17px 10px 0px 10px; }

#nav .sunkwan-logo {
  height: 60px !important;
  position: relative !important; }

/**
 * Index
 */
#homepage h2 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  text-align: center; }

#homepage h2.red {
  color: #D6000F; }

#homepage .sep.line {
  width: 60px;
  margin: auto;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px; }

#index-slides .bg-image {
  opacity: 1 !important; }

#index-slides .bxslider {
  position: relative;
  padding: 0px;
  margin: 0px; }

#index-slides .bx-wrapper {
  padding: 0px;
  border: none;
  margin: 0px;
  min-width: 100% !important; }

#index-slides .bxslider li {
  min-width: 100% !important;
  width: 100%;
  min-height: calc(100vh - 60px);
  overflow: hidden; }

#index-news {
  padding: 20px 35px;
  background-image: url("images/mobile/index-news-bg.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto; }

#index-news ul {
  width: 100%;
  padding: 0px; }

#index-news ul li {
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#index-news ul li img {
  width: 100%; }

#index-news li .date {
  font-size: 14px;
  color: #999; }

#index-news li .title {
  font-size: 18px;
  margin-bottom: 10px; }

#index-about .about-text {
  background-color: #D6000F;
  padding-bottom: 30px; }

#index-about .about-text h2 {
  padding-top: 20px; }

#index-about h2 {
  color: white; }

#index-about .about-text .text {
  color: white;
  line-height: 1.5;
  padding: 0px 20px;
  text-align: left;
  margin-bottom: 10px; }

#index-about .sep.line {
  margin: 20px auto; }

#index-about .link-button {
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.8); }

#index-about .link-button a {
  color: #D6000F; }

#index-culture {
  position: relative; }

#index-culture .culture-image {
  z-index: 0; }

#index-culture .culture-text {
  position: absolute;
  z-index: 10;
  top: 0px;
  width: 100%; }

#index-culture .culture-text h2 {
  padding-top: 20px; }

#index-culture .culture-text .text {
  color: white;
  text-align: center;
  font-size: 16px;
  line-height: 1.5; }

#index-culture .sep.line {
  margin: 10px auto; }

#index-culture .link-button {
  margin-top: 30px; }

#index-video {
  padding-top: 10px;
  padding-bottom: 60px; }

#index-video .sep.line {
  margin-bottom: 15px; }

#index-video .bx-wrapper {
  padding: 0px;
  border: none;
  margin: 0px;
  min-width: 100% !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

#index-video .bx-pager-item a {
  height: 15px;
  width: 15px;
  border-radius: 15px; }

#index-video .bx-controls.bx-has-pager {
  padding-top: 0px; }

#index-video .bx-pager.bx-default-pager a {
  background: #aaa; }

#index-video .bx-pager.bx-default-pager a.active {
  background: #D6000F; }

#index-video .bx-viewport {
  margin-bottom: 20px; }

#index-video #video-clips video {
  width: 80% !important;
  margin: auto 10%; }

#index-branches {
  position: relative; }

#index-branches .branches-text {
  position: absolute;
  z-index: 10;
  top: 0px;
  width: 100%; }

#index-branches h2 {
  padding-top: 20px;
  padding-bottom: 10px; }

#index-branches .link-button {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  width: 150px; }

#index-branches .link-button a {
  color: #905616 !important; }

/** Content **/
.content .article {
  padding: 15px; }

.content.news .article.side, .content.single .article.side {
  display: none; }

.content.news .article.left, .content.single .article.left {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px !important; }

.content.news .article.left .sub, .content.single .article.left .sub {
  margin-top: 5px; }

.content.news .nav-links, .content.single .nav-links {
  margin-top: 0px;
  border-top: none; }

.content.news .screen-reader-text, .content.single .screen-reader-text {
  display: none; }

.content.news .section-content {
  margin-top: 0px !important; }

.content.news .entry-list {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0px; }

.content.news .entry-list .thumb {
  float: none;
  margin-bottom: 0px;
  width: 100% !important; }

.content.news .entry-list li {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-bottom: 1px dotted #ccc; }

.content.news .entry-list li .brief {
  float: none;
  clear: both;
  margin: 0px; }

.content.news .entry-list li a {
  margin-right: 0px;
  display: inline-block;
  line-height: 1.5; }

.content.news .entry-list li p {
  margin-bottom: 0px !important; }

.propaganda.real-estate .main {
  line-height: 1.5;
  margin-top: 15px; }

.propaganda.real-estate {
  padding: 30px; }

.content.real-estate .article {
  padding: 25px 0px !important; }

.content.real-estate .section {
  padding-bottom: 20px; }

.content.real-estate .section .example {
  float: none;
  margin: auto;
  margin-bottom: 20px; }

.content.project .article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content.project .article .brief {
  margin: 15px; }

.content.project .article .w-1000 {
  width: 100% !important; }

.content.project .article .w-1000 img {
  width: 100%; }

.content.magazine .doc {
  margin: auto;
  width: 270px;
  float: none;
  clear: both;
  margin-bottom: 30px; }

.content.commercial-assets .section {
  margin-bottom: 30px; }

.content.commercial-assets .section .title {
  float: none;
  clear: both;
  width: 100%;
  padding-bottom: 15px; }

.content.commercial-assets .section .text {
  width: 100%;
  float: none;
  clear: both;
  border-top: 1px solid #D6000F;
  border-left: none;
  padding-left: 0px;
  padding-top: 15px; }

.content.commercial-assets .section .text img {
  width: 100%; }

.content.about .sub-cover {
  padding-top: 0px !important; }

.content.about .about-slogon {
  display: none; }

.content.about .about-title {
  left: 15px;
  top: -30px; }

.content.about .about-title img {
  width: 50%; }

.content.about .section.intro {
  margin-bottom: 0px; }

.content.about .section.intro .text {
  float: none;
  border: none;
  width: 100%;
  padding-left: 0px; }

.content.history .article {
  padding: 0px;
  height: auto; }

.content.history .history-title img {
  width: 50%; }

.content.history .history-text img {
  width: 90%; }

.content.spirit .article {
  padding: 0px;
  height: auto; }

.content.spirit .spirit-title img {
  width: 50%; }

.content.spirit .spirit-text img {
  width: 80%; }

.content.spirit .spirit-text {
  background-image: url("images/spirit-text-bg.jpg");
  padding-top: 50px;
  background-size: cover;
  margin-top: -30px; }

.content.spirit .spirit-bg {
  display: none; }

.content.spirit .core-value {
  float: none !important;
  clear: both;
  width: 80% !important;
  margin: auto; }

/* 地产基金 */
.content.fund .advantage {
  float: none;
  width: 100%;
  margin-bottom: 15px; }

.content.fund .advantage .point {
  font-weight: bold; }

.content.management .section.management {
  margin-bottom: 0px;
  margin-top: -30px; }

.content.management .article {
  padding: 0px;
  height: auto; }

.content.management .management-title {
  text-align: left; }

.content.management .management-title img {
  width: 50%;
  text-align: left; }

.content.management .intro {
  font-size: 12px; }

.content.management .text {
  width: 100% !important; }

.content.management .photo img {
  width: 100px; }

.content.management .manager .name {
  margin-bottom: 10px; }

.content.bids, .content.recruit {
  margin-top: 0px; }

.content.bids {
  margin-bottom: 0px; }

.content.bids .triangle-bottom {
  margin: 15px auto; }

.content.bids .article.left {
  width: 100%;
  float: none;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.content.bids table {
  font-size: 12px; }

.content.bids table .city {
  width: 25%; }

.content.bids table th {
  font-size: 14px; }

.content.philosophy .article .section {
  margin-bottom: 30px; }

.content.philosophy .article .section.management {
  margin-bottom: 0px; }

.content.philosophy .article {
  padding-top: 15px; }

.content.philosophy .article .title {
  float: none;
  clear: both;
  width: 100%; }

.content.philosophy .article .text {
  float: none;
  clear: both;
  border-top: 1px solid #D6000F;
  border-left: none;
  width: 100%;
  padding-left: 0px;
  margin-top: 15px; }

.content.philosophy .article .text p {
  margin-bottom: 10px; }

.content.philosophy .article ul li {
  font-size: 12px;
  line-height: 1.8; }

.content.recruit.graduation {
  margin-bottom: 0px; }

.content.recruit.graduation .article > div {
  padding-bottom: 30px;
  margin-bottom: 30px; }

.content.recruit.graduation table {
  font-size: 12px; }

.content.recruit.graduation table th.category {
  width: 35% !important; }

.content.recruit.graduation table th {
  font-size: 14px; }

/** Footer **/
#footer {
  height: auto; }

#footer .wrapper {
  padding: 20px !important; }

#footer .qrcode {
  display: none; }

#footer .menu a {
  display: block !important;
  margin-bottom: 10px; }

#footer .logo {
  position: relative;
  top: 0px;
  margin-top: 30px; }

/*# sourceMappingURL=style-mobile.css.map */
