/**
 * Variables
 */

$red:#D6000F;

html, body {overflow-x:hidden}

body {padding-top:60px, -webkit-overflow-scrolling:touch}



/**
 * Header
 */
#nav {position:fixed;top:0px;z-index:1000;height:60px;background:white;box-shadow: 1px 1px 10px rgba(0,0,0,0.5)}
#nav {
	div {height:100%}
	.header.wrapper div {float:left}
	.menu-link {margin-right:10px}
	.menu-link img {margin:17px 10px 0px 10px}
	.sunkwan-logo {height:60px!important;position:relative!important}
}

/**
 * Index
 */
#index-slides {
	.bxslider {position:relative;padding:0px;margin:0px}
    .bx-wrapper {padding:0px;border:none;margin:0px;min-width:100%!important}
    .bxslider li {
        & {min-width:100%!important;width:100%;min-height:calc(100vh - 60px);overflow:hidden}
    }
}

#index-news {
	& {padding:20px 50px;background-image:url('images/mobile/index-news-bg.jpg');background-repeat:repeat-y;background-size:100% auto;}
	.sep.line {width:60px;margin:auto;border-bottom:2px solid black;margin-top:20px;margin-bottom:10px}
	h2 {padding:0px;margin:0px;font-size:22px;text-align:center}
	h2.red {color:$red}
	ul {width:100%;padding:0px}
	ul li {width:100%;margin-bottom:30px}
	ul li img {width:100%}
	li {
	   .date {font-size:14px;color:#999;margin-bottom:10px}
	   .title {font-size:16px}
	}
	
	
}

/** Footer **/
#footer {
	& {height:auto}
	.wrapper {padding:20px!important}
	.qrcode {display:none}
	.menu a {display:block!important;margin-bottom:10px}
	.logo {position:relative;top:0px;margin-top:30px}
}
